/*This effects everything in the body*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}



/*This effects everyrthing in the header div e.g. sizing and placement*/
.header {
  position: fixed;
  background-color: #FFBF00; /* Orange */
  top: 0px;
  height: 115px;
  left: 0%;
  width: 100%;

  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*This effects everyrthing in the nav div e.g. sizing and placement*/

.nav {
  position: fixed;
  top: 110px;
  left: 41%;
  background-color: #FFBF00; /* Orange */
  padding: 15px;
}

/*This effects everyrthing in the content div e.g. sizing and placement*/
.content {
  position: fixed;
  top: 150px;
  width: 100%;
  padding: 20px;
  background-color: #F8D7DA; /* Light pink */
  height: 100%;
  
  /*makes the H2 be in the centre of the top */
  display: flex;
  justify-content: center;
}


/*This effects everyrthing in the mini left div e.g. sizing and placement*/
.left_Content {
  position: fixed;
  background-color: #333333;
  top: 254px;
  width: 600px;
  height: 592px;
  left: 100px;
  color: #fff;
}


/*This effects everyrthing in the mini right div e.g. sizing and placement*/
.right_Content {
  position: fixed;
  background-color: #333333;
  top: 254px;
  width: 600px;
  height: 592px;
  right: 100px;
  color: #fff;
}

/*This effects everyrthing in the merch div e.g. sizing and placement and text color*/
.merch_Content {
  position: fixed;
  background-color: #333333;
  top: 254px;
  left: 100px;
  color: #fff;
  padding-left: px;
  width: 1720px;
  height: 592px;
}

/*This effects everyrthing in the social media div e.g. sizing and placement*/
.social-media {
  position: fixed;
  background-color: #FF6B6B; /* Very Light Red */
  height: 20px;
  width: 100%;
  bottom: 0px;
  
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*this effects the artist image and is basically just placement e.g. sizing and placement*/
.artist_Image {
  position: absolute;
  width: 550px;
  height: 542px;
  left: 25px;
  top: 25px;
}

/*This effects all of the p tags in the left content div*/
.left_Content p {
  padding-top: 25px;
  padding-left: 4px;
}

/*This effects the h1 in the header div*/
.header h1 {
  color: #FFFFFF; /* White */
  margin: 0;
}

/*this effects the unorganised list in the nav div (nav bar)*/
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-right: 50px;
}

/*this effects the unorganised and organised list in the nav div (nav bar)*/
.nav ul li a {
  text-decoration: none;
  color: #fff; /* White */
}

/*this effects the nav when it is hovered over*/
.nav ul li a:hover {
  color: #FF6B6B; /* Very Light Red */
}

/*this effects the h3's in the left and right content*/
.left_Content h3,
.right_Content h3 {
  text-align: center;
}
/*Last minute change to fill up a bit more of the space  adds space to the lists in the left content box*/
.left_Content ul li{
  padding-bottom: 10px;
}

/*this effects the social media list*/
.social-media li {
  display: inline-block;
  margin-right: 10px;
}

/*this effects the social media list by setting the test color in the list*/

.social-media li a {
  color: #FFFFFF; /* White */
  text-decoration: none;
}

/*This effects the shop grid by setting up the placement of the grid e.g. how many is in a row and the gap between them*/
.shop-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  padding-top: 30px;
}

/*This alligns the text in item div to the center*/
.item {
  text-align: center;
}

/*this sets the image size in the item divs.*/
.item img {
  width: 100px;
  height: 100px;
}
