body {
  font-family: Arial, sans-serif;
  background-color: #FAFA33; /* Yellow */
  margin: 0;
  padding: 0;
}

.html {
  color: #333333; /* Gray */
}

.header {
  position: fixed;
  background-color: #FFBF00; /* Orange */
  padding: 20px;
  top: 0px;
  height: 115px;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  position: fixed;
  top: 110px;
  left: 41%;
  background-color: #FFBF00; /* Orange */
  padding: 15px;
}

.content {
  position: fixed;
  top: 150px;
  width: 100%;
  padding: 20px;
  background-color: #F8D7DA; /* Light pink */
  height: 100%;
  /*makes the H2 be in the centre of the top*/
  display: flex;
  justify-content: center;
}

.left_Content {
  position: fixed;
  background-color: #333333;
  top: 254px;
  width: 600px;
  height: 592px;
  left: 100px;
  color: #fff;
  padding-left: px;
}

.left_Content h3,
.right_Content h3 {
  text-align: center;
}

.right_Content {
  position: fixed;
  background-color: #333333;
  top: 254px;
  width: 600px;
  height: 592px;
  right: 100px;
  color: #fff;
}

.social-media {
  position: fixed;
  font-size: 12px;
  background-color: #FF6B6B; /* Very Light Red */
  height: 20px;
  width: 100%;
  bottom: 0px;
  right: 0px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_Content p {
  padding-top: 25px;
  padding-left: 4px;
}

.header h1 {
  color: #FFFFFF; /* White */
  margin: 0;
}

.artist_Image {
  position: absolute;
  width: 550px;
  height: 542px;
  left: 25px;
  top: 25px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline;
  margin-right: 50px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff; /* White */
}

.nav ul li a:hover {
  color: #FF6B6B; /* Very Light Red */
}

.content h2 {
  color: #333333; /* Dark gray */
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media li a {
  text-decoration: none;
  color: #fff; /* White */
}

.social-media li a:hover {
  color: #FFBF00; /* Yellow */
}

.social-media ul li {
  display: inline;
  margin-right: 50px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-button {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.left_Content p,
.right_Content p {
  margin-left: 10px;
}

.button-container {
  text-align: center;
}

.button-container button {
  margin-top: 10px;
}

